<%- include partials/top %>

<div class="home">

  <section class="hero-header">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="tagline">
            <h1>
              <span class="emphasis title">Pylons Project</span>
            </h1>
            <h2>
              We build <span class="emphasis">Web Technologies</span><br>
              for the <span class="emphasis">Python</span> community
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="title text-blue">
            Our <strong>Projects</strong>
          </h1>
        </div>
      </div>
      <div class="row project-items">
        <div class="col-md-12">
          <div class="grid community">
            <% options.projects.projects.forEach(function(item){ %>
              <% if (item.display_on_index) { %>
                <div class="grid-item col-xs-12 col-sm-6 col-md-3">
                  <div class="grid-item-content project-item">
                    <h4><% if (item.websiteUrl != '') { %><a href="<%= item.websiteUrl %>"><% } %><%= item.name %><% if (item.websiteUrl != '') { %></a><% } %></h4>
                    <p><%= item.description %></p>
                    <p>
                      <a href="<%= item.packageUrl %>">package</a> •
                      <a href="<%= item.sourceUrl %>">source</a><% if (item.docsUrl != '') { %> •<% } %>
                      <a href="<%= item.docsUrl %>">docs</a><% if (item.websiteUrl != '') { %> •<% } %>
                      <% if (item.websiteUrl != '') { %><a href="<%= item.websiteUrl %>">website</a><% } %>
                    </p>
                  </div>
                </div>
              <% } %>
            <% }); %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-md-offset-10">
            </h3><a href="/projects.html" />More Projects ...</a></h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-content section-pyramid">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          &nbsp;
        </div>
        <div class="col-md-6">
          <h1 class="title">Pyramid</h1>
          <h2>
            The Start <strong>Small</strong>,
            Finish <strong>Big</strong><br>
            Stay <strong>Finished</strong> Web Framework
          </h2>
          <p>
            Visit <a href="https://trypyramid.com">trypyramid.com</a> to learn more about the Pyramid web framework, our most featured project.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="title text-blue">
            Pylons <strong>Project</strong>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>
            The <strong>Pylons Project</strong> is composed of a disparate group of project leaders with experience going back to the very start of <strong>Python web frameworks</strong>.
          </p>
          <p>
            <strong>Collectively</strong>, we have experience and humility gained by making (and surviving) every stupid decision that could be imagined. We aim to bring <strong>fresh ideas</strong> to classic web development <strong>problems</strong>.
          </p>
        </div>
        <div class="col-md-6">
          <p>
            Rather than focusing on a single web framework, the <strong>Pylons Project</strong> will develop a <strong>collection</strong> of related technologies. The first package from the Pylons Project was the <a href="https://trypyramid.com">Pyramid</a> web framework.
          </p>
          <p>
            Other packages have been added to the collection over time, including higher-level components and applications. We hope to evolve the project into an <strong>ecosystem</strong> of <strong>well-tested</strong>, <strong>well-documented</strong> components which <strong>interoperate</strong> easily.
          </p>
        </div>
      </div>
    </div>
  </section>

</div>

<%- include partials/bottom %>
