<%- include partials/top %>

<div class="page">

  <section class="section-projects">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="title text-blue">
            Our Projects
          </h1>
        </div>
      </div>
      <div class="row project-items">
        <% context.projects.forEach(function(item){ %>
          <% if (!item.deprecated) { %>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="project-item">
                <h4><% if (item.websiteUrl != '') { %><a href="<%= item.websiteUrl %>"><% } %><%= item.name %><% if (item.websiteUrl != '') { %></a><% } %></h4>
                <p class="project-description"><%= item.description %></p>
                <p class="project-links">
                  <a href="<%= item.packageUrl %>">package</a> •
                  <a href="<%= item.sourceUrl %>">source</a><% if (item.docsUrl != '') { %> •<% } %>
                  <% if (item.docsUrl != '') { %><a href="<%= item.docsUrl %>">docs</a><% } %><% if (item.websiteUrl != '') { %> •<% } %>
                  <% if (item.websiteUrl != '') { %><a href="<%= item.websiteUrl %>">website</a><% } %>
                </p>
              </div>
            </div>
          <% } %>
        <% }); %>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="title text-blue">
            Deprecated / Maintenance Only
          </h2>
        </div>
      </div>
      <div class="row project-items">
        <% context.projects.forEach(function(item){ %>
          <% if (item.deprecated) { %>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-33">
              <div class="project-item">
                <h4><% if (item.websiteUrl != '') { %><a href="<%= item.websiteUrl %>"><% } %><%= item.name %><% if (item.websiteUrl != '') { %></a><% } %></h4>
                <p class="project-description"><%= item.description %></p>
                <p class="project-links">
                  <a href="<%= item.packageUrl %>">package</a> •
                  <a href="<%= item.sourceUrl %>">source</a><% if (item.docsUrl != '') { %> •<% } %>
                  <% if (item.docsUrl != '') { %><a href="<%= item.docsUrl %>">docs</a><% } %><% if (item.websiteUrl != '') { %> •<% } %>
                  <% if (item.websiteUrl != '') { %><a href="<%= item.websiteUrl %>">website</a><% } %>
                </p>
              </div>
            </div>
          <% } %>
        <% }); %>
      </div>
    </div>
  </section>

</div>

<%- include partials/bottom %>
